In [17]:
import pandas as pd
import glob, os

#This method can be used to read and filter multiple csv files, 
#concatenate them and then write the data to a new csv file
path = '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data'
all_files = glob.glob(os.path.join(path + "/flightlist_*.csv"))

#                                        Change these parameters for filter for different inputs
df_current = (pd.read_csv(f, usecols = ['callsign','typecode','origin','destination','firstseen']) for f in all_files)
dfy = pd.concat(df_current, ignore_index = True)

dfz = pd.concat(df_current, ignore_index = True)

ValueError: No objects to concatenate

In [ ]:
#Input value = "airline name" in "str.contains(value)" to extract data for whichever airline

#Passenger
dfy = dfy[dfy['callsign'].str.contains('UAL') | dfy['callsign'].str.contains('LHA') | dfy['callsign'].str.contains('KLM') | dfy['callsign'].str.contains('CSN') | dfy['callsign'].str.contains('ANA')]
dfy.head()

In [ ]:
#Ensure to change .csv name for each new csv extraction
dfy.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartI_Passenger.csv', index = False)

In [ ]:

#Cargo
dfz = dfy[dfy['callsign'].str.contains('FDX') | dfy['callsign'].str.contains('GEC') | dfy['callsign'].str.contains('UPS') | dfy['callsign'].str.contains('CLX')]
dfz.head()

In [ ]:
#Ensure to change .csv name for each new csv extraction
dfz.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartII_Cargo.csv', index = False)

   Unnamed: 0 callsign typecode origin destination                  firstseen
0          94   ANA203     B789    NaN        EDDF  2020-07-31 15:53:07+00:00
1         126   DAL642     A319   KU42        KU42  2020-07-31 16:26:06+00:00
2         132   DAL934     B739   KATL        KU42  2020-07-31 16:35:18+00:00
3         157    ANA11     B77W   KORD         NaN  2020-07-31 17:13:41+00:00
4         211   DAL159      NaN   KDTW        RKSI  2020-07-31 18:06:13+00:00