In [1]:
import pandas as pd
import glob, os

#This method can be used to read and filter multiple csv files, 
#concatenate them and then write the data to a new csv file
path = '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data'
all_files = glob.glob(os.path.join(path + "/flightlist_*.csv"))

#                                        Change these parameters for filter for different inputs
df_current = (pd.read_csv(f, usecols = ['callsign','typecode','origin','destination','firstseen']) for f in all_files)
dfy = pd.concat(df_current, ignore_index = True)

In [10]:
print(all_files)

['/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200801_20200831.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20191101_20191130.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190201_20190228.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20191201_20191231.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190901_20190930.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190801_20190831.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200201_20200229.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200901_20200930.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20191001_20191031.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190501_20190531.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190601_20190630.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190301_20190331.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200701_20200731.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200101_20200131.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200401_20200430.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200301_20200331.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200601_20200630.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20200501_20200531.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190401_20190430.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190101_20190131.csv', '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data/flightlist_20190701_20190731.csv']

In [11]:

#Cargo
dfz = dfy[dfy['callsign'].str.contains('FDX') | dfy['callsign'].str.contains('GEC') | dfy['callsign'].str.contains('UPS') | dfy['callsign'].str.contains('CLX')]
dfz.head()

   callsign typecode origin destination                  firstseen
8     FDX77     B77L   KOAK        YSSY  2020-07-31 11:02:21+00:00
17  CLX7309     B744   VHHH        ELLX  2020-07-31 12:04:53+00:00
23    FDX15     B77L    NaN         NaN  2020-07-31 12:22:56+00:00
28  GEC8400     B77L   EDDF        RKSI  2020-07-31 12:52:48+00:00
54  FDX5926     B77L   RKSI        RKSI  2020-07-31 14:00:52+00:00

In [12]:
#Ensure to change .csv name for each new csv extraction
dfz.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartI_Cargo.csv')

In [4]:
#Input value = "airline name" in "str.contains(value)" to extract data for whichever airline

#Passenger
dfk = dfy[dfy['callsign'].str.contains('ANA') | dfy['callsign'].str.contains('UAL')]
dfk.head()

   callsign typecode origin destination                  firstseen
19  UAL2832     B772   KSFO        RKSI  2020-07-31 12:12:22+00:00
44  UAL2851     B77W   VHHH        KLAX  2020-07-31 13:33:42+00:00
45  UAL2818     B789    NaN        KORD  2020-07-31 13:40:50+00:00
48  UAL2849      NaN   RCTP        KSFO  2020-07-31 13:47:06+00:00
61  UAL2825     B789    NaN        KEWR  2020-07-31 14:14:35+00:00

In [5]:
#Ensure to change .csv name for each new csv extraction
dfk.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartI_Passenger.csv')

   Unnamed: 0 callsign typecode origin destination                  firstseen
0          94   ANA203     B789    NaN        EDDF  2020-07-31 15:53:07+00:00
1         126   DAL642     A319   KU42        KU42  2020-07-31 16:26:06+00:00
2         132   DAL934     B739   KATL        KU42  2020-07-31 16:35:18+00:00
3         157    ANA11     B77W   KORD         NaN  2020-07-31 17:13:41+00:00
4         211   DAL159      NaN   KDTW        RKSI  2020-07-31 18:06:13+00:00

In [2]:
import pandas as pd
import glob, os

#This method can be used to read and filter multiple csv files, 
#concatenate them and then write the data to a new csv file
path = '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data'
all_files = glob.glob(os.path.join(path + "/flightlist_*.csv"))

#                                        Change these parameters for filter for different inputs
df_current = (pd.read_csv(f, usecols = ['callsign','typecode','origin','destination','firstseen','latitude_1','longitude_1','latitude_2','longitude_2']) for f in all_files)
df2 = pd.concat(df_current, ignore_index = True)

#dfz = pd.concat(df_current, ignore_index = True)

In [10]:
df2_passenger = df2[df2['callsign'].str.contains('DLH')]

In [11]:
df2_passenger.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartII_passenger.csv')

In [12]:
df2_cargo = df2[df2['callsign'].str.contains('GEC')]

In [13]:
df2_cargo.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartII_cargo.csv')