In [2]:
import pandas as pd
import glob, os

#This method can be used to read and filter multiple csv files, 
#concatenate them and then write the data to a new csv file
path = '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data'
all_files = glob.glob(os.path.join(path + "/flightlist_*.csv"))

#                                        Change these parameters for filter for different inputs
df_current = (pd.read_csv(f, usecols = ['callsign','typecode','origin','destination','firstseen']) for f in all_files)
dfy = pd.concat(df_current, ignore_index = True)

In [3]:

#Cargo
dfz = dfy[dfy['callsign'].str.contains('FDX') | dfy['callsign'].str.contains('GEC') | dfy['callsign'].str.contains('UPS') | dfy['callsign'].str.contains('CLX')]
dfz.head()

   callsign typecode origin destination                  firstseen
8     FDX77     B77L   KOAK        YSSY  2020-07-31 11:02:21+00:00
17  CLX7309     B744   VHHH        ELLX  2020-07-31 12:04:53+00:00
23    FDX15     B77L    NaN         NaN  2020-07-31 12:22:56+00:00
28  GEC8400     B77L   EDDF        RKSI  2020-07-31 12:52:48+00:00
54  FDX5926     B77L   RKSI        RKSI  2020-07-31 14:00:52+00:00

In [4]:
#Ensure to change .csv name for each new csv extraction
dfz.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartI_Cargo.csv', index = False)

In [20]:
#Input value = "airline name" in "str.contains(value)" to extract data for whichever airline

#Passenger
dfk = dfy[dfy['callsign'].str.contains('UAL') | dfy['callsign'].str.contains('LHA') | dfy['callsign'].str.contains('KLM') | dfy['callsign'].str.contains('CSN') | dfy['callsign'].str.contains('ANA')]
dfk.head()

   callsign typecode origin destination                  firstseen
1    CSN311     B789    NaN        CYYZ  2020-07-31 04:30:44+00:00
19  UAL2832     B772   KSFO        RKSI  2020-07-31 12:12:22+00:00
22   KLM876     B77W   RPLL        EHAM  2020-07-31 12:20:54+00:00
24   KLM888     B789   VHHH        EHAM  2020-07-31 12:31:26+00:00
32   KLM702     B789   SAEZ        EHAM  2020-07-31 13:08:11+00:00

In [ ]:
#Ensure to change .csv name for each new csv extraction
dfy.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartI_Passenger.csv', index = False)

   Unnamed: 0 callsign typecode origin destination                  firstseen
0          94   ANA203     B789    NaN        EDDF  2020-07-31 15:53:07+00:00
1         126   DAL642     A319   KU42        KU42  2020-07-31 16:26:06+00:00
2         132   DAL934     B739   KATL        KU42  2020-07-31 16:35:18+00:00
3         157    ANA11     B77W   KORD         NaN  2020-07-31 17:13:41+00:00
4         211   DAL159      NaN   KDTW        RKSI  2020-07-31 18:06:13+00:00

In [2]:
import pandas as pd
import glob, os

#This method can be used to read and filter multiple csv files, 
#concatenate them and then write the data to a new csv file
path = '/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/oversized_data'
all_files = glob.glob(os.path.join(path + "/flightlist_*.csv"))

#                                        Change these parameters for filter for different inputs
df_current = (pd.read_csv(f, usecols = ['callsign','typecode','origin','destination','firstseen','latitude_1','longitude_1','latitude_2','longitude_2']) for f in all_files)
df2 = pd.concat(df_current, ignore_index = True)

#dfz = pd.concat(df_current, ignore_index = True)

In [10]:
df2_passenger = df2[df2['callsign'].str.contains('DLH')]

In [11]:
df2_passenger.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartII_passenger.csv')

In [12]:
df2_cargo = df2[df2['callsign'].str.contains('GEC')]

In [13]:
df2_cargo.to_csv('/Users/luke/Documents/UBCO/Data_301/Course_Project/course-project-solo_325/data/raw/PartII_cargo.csv')